<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0 , maximum-scale=1.0, user-scalable=0">
    <title>{$parentuserinfo.name}邀请您参与考米家居开业大奖升级，礼品任性送活动！</title>
    <meta name="keywords" content="李旭邀请您参与考米家居开业大奖升级，礼品任性送活动！"/>
    <meta name="description" content="李旭点第一个按钮输入姓名或者昵称都行，电话号码一定要留正确。" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta content="telephone=no" name="format-detection" />
    <link href="/zhuli/style.css" rel="stylesheet" type="text/css">
    <script src="/zhuli/jquery.js" type="text/javascript"></script>
    <script type="text/javascript">
        var commonjspath = '/zhuli';
    </script>
    <script src="/zhuli/common.js" type="text/javascript" type="text/javascript"></script>
    <base target="_self">
</head>
<body>
<section class="top_box clearfix box_hide"><img src="/zhuli/common_840_uqQS8LwQ.jpg" style="width: 0px;height: 0px;"></section>
<section class="top_box clearfix"><img src="/zhuli/dm1.jpg" style="width: 100%;height: auto;"></section>
<section class="top_bottom clearfix"><div class="top_bottom_main clearfix"></div></section>
<section class="between_box clearfix">
    <div class="between_box_title clearfix"><p>活动地址：红星美凯龙马兰店西厅地下一层</p></div>
    <div class="between_box_time clearfix"><p>活动时间：2015-03-29 下午两点</p></div>

    <div class="between_box_paiming clearfix">
        <ul class="clearfix">
            <li style="width: 50%;">
                <div class="pm_item clearfix">
                    <div class="pm_item_title1">助力</div>
                    <div class="pm_item_box">{$zanuser.countsize} 个</div>
                </div>
            </li>
            <li>
                <div class="pm_item clearfix">
                    <div class="pm_item_title2">排名</div>
                    <div class="pm_item_box">1 名</div>
                </div>
            </li>
        </ul>
    </div>
    <div class="between_box_btn clearfix">
        <ul class="clearfix">
            <li>
                <div class="left_btn"><a href="javascript:;" onclick="showAddBox()">报名自己抢</a></div>
            </li>
            <li>
                <div class="right_btn">

                    <empty name="parentuserinfo">
                        <a href="javascript:void(0);" onclick="showShareGuide();">我要分享</a>
                        <else />
                        <a href="javascript:void(0);" onclick="zili();">助力{$parentuserinfo.name}</a>
                    </empty>

                </div>
            </li>
        </ul>
    </div>
</section>
<section class="top_box clearfix"><img src="/zhuli/brand.jpg" style="width: 100%;height: auto;"></section>
<section class="between_footer clearfix"><img src="/zhuli/between_footer.png" width="100%"></section>
<section class="footer_box clearfix">
    <div class="footer_box_title clearfix">
        <div class="footer_box_title_left clearfix">活动规则</div>
    </div>
    <div class="footer_box_desc">排名规则：<br />
        1、按转发数 <br />
        2、每转发一次都会增加一分；<br />
        3、排名前10名的微友可以获得限量版木版画一幅；<br />
        4、排名11-30名的可以活动限量版大号考米羊一只；<br />
        5、排名31-60名的微友可以获得小号考米羊一只；</div>
    <div class="footer_box_title clearfix">
        <div class="footer_box_title_left clearfix">活动介绍</div>
    </div>
    <div class="footer_box_desc">活动地点：友好广场新世界百货6层考米家居<br />
        领取时间：2015年3月21日-22日&nbsp;&nbsp;现场领取，过期作废<br />
        活动内容：考米家居是大连唯一的一家以实景样板间形式，展示家具、窗帘、壁纸饰品整体配套的体验中心，40余套实景样板免费参观。为庆祝考米家居3月21日正式开业，特免费放送300多件礼品，基本是参与就能拿奖啊！关注我们的公众平台:kaomijiaju，3月份还将有5次派发！</div>
    <div class="footer_box_title clearfix">
        <div class="footer_box_title_left clearfix">活动奖品</div>
    </div>
    <div class="footer_box_prize clearfix">
        <ul class="clearfix">

            <li>
                <figure><img src="/zhuli/common_769_idv0V3sT.jpg"></figure>
                <article>
                    <header>特等奖一名（新增）（1个）</header>
                    <section>法式宫廷沙发</section>
                    <footer>兑换时间：2015-03-21到2015-03-22</footer>
                </article>
            </li>

            <li>
                <figure><img src="/zhuli/common_39_d4etE42o.jpg"></figure>
                <article>
                    <header>一等奖10名（10个）</header>
                    <section>考米限量版木版画</section>
                    <footer>兑换时间：2015-03-21到2015-03-22</footer>
                </article>
            </li>

            <li>
                <figure><img src="/zhuli/common_288_KyKTJMyl.jpg"></figure>
                <article>
                    <header>二等奖 20名（20个）</header>
                    <section>限量版考米羊（大号）</section>
                    <footer>兑换时间：2015-03-21到2015-03-22</footer>
                </article>
            </li>

            <li>
                <figure><img src="/zhuli/common_648_xM2J6K12.jpg"></figure>
                <article>
                    <header>三等奖 30名（30个）</header>
                    <section>限量版考米羊（小号）</section>
                    <footer>兑换时间：2015-03-21到2015-03-22</footer>
                </article>
            </li>
        </ul>
    </div>
    <div class="footer_box_title clearfix">
        <div class="footer_box_title_left clearfix">TOP 61</div>
        <div class="footer_box_title_right clearfix">助力人数 <span>2007</span></div>
    </div>
    <div class="footer_box_table clearfix">
        <table cellpadding="0" cellspacing="0" >
            <thead>
            <tr>
                <th>名次</th>
                <th>姓名</th>
                <th>手机</th>
                <th>助力</th>
            </tr>
            </thead>
            <tbody>
            <volist name="top10" id="user">
                <tr class=" top">
                    <td>{$i}</td>
                    <td>{$user.name}</td>
                    <td>{$user.phone}</td>
                    <td>{$user.countzan}</td>
                </tr>
            </volist>





            </tbody>

        </table>
    </div>
</section>
<section class="id_add_box add_box clearfix box_hide">
    <div class="add_box_main clearfix">
        <div class="add_box_main_close"><a href="javascript:void(0);" onclick="hideAddBox();"></a></div>
        <div class="add_box_main_msg">请填写姓名手机号便于中奖后通知</div>
        <form id="add_form">
            <div class="add_box_main_input"><input name="name" id="xm" placeholder="请填写姓名" type="text"></div>
            <div class="add_box_main_input">
                <input name="phone" id="tel" placeholder="请填写手机号" type="text">
                <input type="hidden" name="openid" value="{$userinfo.openid}">

            </div>
        </form>
        <div class="add_box_main_btn"><a href="javascript:void(0);">保  存</a></div>
    </div>
</section>
 <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script>

    wx.config({
                debug: false,
                appId: '{$signPackage.appId}',
                timestamp: {$signPackage.timestamp},
            nonceStr: '{$signPackage.nonceStr}',
            signature : '{$signPackage.signature}',
            jsApiList:
    [
        // 所有要调用的 API 都要加到这个列表中
        'checkJsApi',
        'onMenuShareTimeline',//分享到朋友圈
        'onMenuShareAppMessage',//分享给朋友
        'onMenuShareQQ',//分享到ＱＱ
        'hideOptionMenu'//隐藏右上角菜单接口
    ]
    });
    //alert({$signPackage.appId}+"/"+{$signPackage.timestamp}+"/"+{$signPackage.nonceStr}+"/"+{$signPackage.signature});
    var mainTitle="{$userinfo.nickname}邀请您参与考米家居开业大奖升级，礼品任性送活动！",
            mainDesc="{$userinfo.nickname}邀请您参与考米家居开业大奖升级，礼品任性送活动！",
            mainURL="http://hongbao.webs.dlwebs.com/index.php/Jizan/index?parentid={$userinfo.openid}",

            mainImgUrl= "http://www.crosme.com/weixin/data/attachment/common/fa/common_840_uqQS8LwQ.jpg";

    wx.ready(function () {
       alert('{$signPackage.appId}+"/"+{$signPackage.timestamp}+"/"+{$signPackage.nonceStr}+"/"+{$signPackage.signature}');
        wx.onMenuShareTimeline({
            title:mainTitle, // 分享标题
            link: mainURL, // 分享链接
            desc: mainDesc, // 分享描述
            imgUrl: mainImgUrl, // 分享图标
            success: function () {
                tusi("分享成功！");
            },
            cancel: function () {
                // 用户取消分享后执行的回调函数
                tusi("分享失败！");
            }
        });
        wx.onMenuShareAppMessage({
            title:mainTitle, // 分享标题
            link: mainURL, // 分享链接
            desc: mainDesc, // 分享描述
            imgUrl: mainImgUrl, // 分享图标
            type: '', // 分享类型,music、video或link，不填默认为link
            dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
            success: function () {
                // 用户确认分享后执行的回调函数
                tusi("分享成功！");
            },
            cancel: function () {
                // 用户取消分享后执行的回调函数
                tusi("分享失败！");
            }
        });
        /**
         wx.onMenuShareQQ({
			title: '{$user.nickname}的澳洲198商城', // 分享标题
			desc: '澳洲198商——90后大学生亲授21天从0－100万的销售神话', // 分享描述
			link: '{$signPackage.url}', // 分享链接
			imgUrl: 'http://aozhou.webs.dlwebs.com/static/images/egg.jpg' // 分享图标
			success: function () {
			   // 用户确认分享后执行的回调函数
			   alert("分享成功！");
			},
			cancel: function () {
			   // 用户取消分享后执行的回调函数
			   alert("分享失败！");
			}
		});
         */
        // 在这里调用 API

    });


    var zlStatus = 0;
    function zili(){
        if(zlStatus == 1){
            tusi("已经助力");
            setTimeout(showShareGuide,1888);
            return false;
        }
        zlStatus = 1;
        tusi("已经助力");
        setTimeout(showShareGuide,1888);
        return false;
    }
    function showShareGuide(){
        $('body').append('<div id="share_guide_box" onclick="hideShareGuide();" style="z-index:99999999;position:fixed;left:0px;top:0px;width:100%;height:100%;background-color: rgba(0,0,0,0.5);text-align:right;" ontouchmove="return true;" ><img src="/zhuli/share.png" style="margin-top:10px;margin-right:10px;"></div>');
    }
    function hideShareGuide(){
        $("#share_guide_box").remove();
    }
    function showAddBox(){

        var isjoin={$isjoin};

        if(!isjoin){
            $(window).scrollTop(0);
            $(".id_add_box").removeClass('box_hide');
        }
        else{
            tusi("您已经参与了，直接分享让好友帮你助力！");
        }

    }
    function hideAddBox(){
        $(".id_add_box").addClass('box_hide');
    }
    function hideGuanzuBox(){
        $(".guanzu_box").addClass('box_hide');
    }

    var myurl = "http://www.crosme.com/weixin/plugin.php?id=tom_weixin_zl&act_id=1";

    var baominging=0
    $(".add_box_main_btn").click( function () {

        if(baominging==1)
            return false;
        baominging=1;

        var xm = $("#xm").val();
        var tel = $("#tel").val();

        if(xm == ""){
            tusi("请填写姓名");
            return false;
        }

        if(tel == '' || !checkMobile(tel)){
            tusi("手机号格式不正确");
            return false;
        }

        tusi("报名中...");
        $.ajax({
            type: "POST" ,
            url: "__MODULE__/Jizan/join",
            data: $('#add_form').serialize()

        }).success(function(d){
            baominging=0;
                tusi(d);
            hideAddBox();
        });
    });

    function checkMobile(s){
        var regu =/^[1][3|8|4|5][0-9]{9}$/;
        var re = new RegExp(regu);
        if (re.test(s)) {
            return true;
        }else{
            return false;
        }
    }




</script>
</body>
</html>
