<h2 class="sub-header">{$toupiaoinfo.tp_name}投票结果</h2>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>选项名称</th>
            <th>票数</th>
          </tr>
        </thead>
        <tbody>
        <foreach name="foodlist" item="food">
          <tr>
            <td class="col-sm-2">{$food.tpfood_name}</td>
            <td class="col-sm-2">{$food.foodvote|default=0}票</td>
          </tr>
        </foreach>
        </tbody>
      </table>
    </div>