<h2 class="sub-header">头像列表</h2>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>昵称</th>
            <th>头像</th>
          </tr>
        </thead>
        <tbody>
        <foreach name="userlist" item="user">
          <tr>
            <td class="col-sm-2">{$user.user_name}</td>
            <td class="col-sm-2"><img src="{$user.user_image}" width="300"></td>
          </tr>
        </foreach>
        </tbody>
      </table>
      {$page}
    </div>