<!DOCTYPE html>

<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <link rel="stylesheet" href="/style/breakEgg.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/main.css">
    <script src="/js/vendor/modernizr-2.6.2.min.js"></script>
 


</head>
<body>
<div class="chui" id="chui" style="display: none">
    <img src="/img/chui1.png" width="80"/>
</div>
<section class="stage">
    <img class="bg" src="/img/bj.png">
    <img class="yc" src="/img/YC.png"  />
    <div class="guize">
        <!--<a href="#">活动规则</a> -->
        <ul>
            <foreach name="my_money_list" item="mymoney">
            <li>
                <img width="40px" style="border-radius: 50px" src="{$mymoney.user_image}">
                <div class="qian" >{$mymoney.money_number}元</div>
                <div>{$mymoney.user_name}  </div><br>
                <div> {$mymoney.money_time}</div>
                <div>小手一抖 红包到手 </div>
            </li>
            </foreach>
        </ul>
    </div>
    <div class="info">
        <img src="/img/force.png" class="infopic">
        <div  class="qianshu">￥{$totel_money} </div>
        <div style="color: #fff; font-family: 微软雅黑">邀请好友参与，红包马上变大</div>
        <div style="clear: both;height: 60px;margin-top: 10px">
            <a class="guanzhu twocol" onclick="$('.zhongjiangtip').hide();$('#mcover').show();$('#mcover img').show()">邀请好友</a>
            <p class="guanzhu twocol white"><a style="color:red;vertical-align:middle" href="__MODULE__/index/tixian?openid={$userinfo.openid}">申请提现</a> </p>
        </div>
        <div style="color: #ffffff;font-size: .8rem;font-family: 微软雅黑;">期待好友合体，马上变大红包！<a href="#" style="color:#fff">刷新进度</a> </div>
    </div>
    <div class="main-box">

    </div>
    </div>
    </div>
    </div>

</section>
    
<div id="mcover" onclick="document.getElementById('mcover').style.display='';" style="display: block;">
    <img src="img/share.png" style="display: none">
    <div class="zhongjiangtip">
        <if condition="$is_get_money eq 0">
        <p class="  p3 css4401D34FA9112B9D66D0782EE9A1D68F">恭喜{$userinfo.nickname}您获得<span class="yellow num3">{$setinfo.set_beginmoney}</span>元红包</p>
        </if>
        <if condition="$is_get_money eq 1">
        <p class="  p3 css4401D34FA9112B9D66D0782EE9A1D68F">恭喜{$userinfo.nickname}您目前共获得了<span class="yellow num3">{$totel_money}</span>元红包</p>
        </if>
        <p class="  p3 css4401D34FA9112B9D66D0782EE9A1D68F">关注微信可申请提现</p>
        <p class="guanzhu">点此关注公众账户</p>
    </div>
</div>

<script src="/js/vendor/jquery-1.10.2.min.js"></script>
<script src="/js/hammer.min.js"></script>
<script src="/js/plugins.js"></script>

<script src="/js/main.js"></script>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<script>

$(function(){
    var imgUrl = document.location.origin + "/img/force.png";

//    var lineLink ='https://open.weixin.qq.com/connect/oauth2/authorize?appid=wxc43356a7940e32d4&redirect_uri=http%3A%2F%2Fhongbao.webs.dlwebs.com%2Findex.php?parentid={$userinfo.openid}&response_type=code&scope=snsapi_userinfo&state=STATE#wechat_redirect';
var lineLink ='https://hongbao.webs.dlwebs.com/index.php/index/index?parentid={$userinfo.openid}';
    var descContent = "领红包拿大奖！哈蓝送您100元红包大礼！";

    var shareTitle = '哈蓝送红包，还不快来领！';

    var appid = 'wxc43356a7940e32d';


    function shareFriend() {

        WeixinJSBridge.invoke('sendAppMessage', {

            "appid": appid,

            "img_url": imgUrl,

            "img_width": "640",

            "img_height": "640",

            "link": lineLink,

            "desc": descContent,

            "title": shareTitle

        }, function (res) {

            //_report('send_msg', res.err_msg);

        })

    }

    function shareTimeline() {

        WeixinJSBridge.invoke('shareTimeline', {

            "img_url": imgUrl,

            "img_width": "640",

            "img_height": "640",

            "link": lineLink,

            "desc": descContent,

            "title": shareTitle

        }, function (res) {

            //_report('timeline', res.err_msg);

        });

    }

    function shareWeibo() {

        WeixinJSBridge.invoke('shareWeibo', {

            "content": descContent,

            "url": lineLink

        }, function (res) {

            //_report('weibo', res.err_msg);

        });

    }

    // 当微信内置浏览器完成内部初始化后会触发WeixinJSBridgeReady事件。

    document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {



        // 发送给好友

        WeixinJSBridge.on('menu:share:appmessage', function (argv) {

            shareFriend();

        });


        // 分享到朋友圈

        WeixinJSBridge.on('menu:share:timeline', function (argv) {

            shareTimeline();

        });


        // 分享到微博

        WeixinJSBridge.on('menu:share:weibo', function (argv) {

            shareWeibo();

        });

    }, false);
})



</script>

</body>


<script type="text/javascript">


</script>
</html>
