<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"> 
<head>
<title>{$voteinfo.title}</title>
<meta name="keywords" content="“酵你好看”纤女郎魅力天使全国竞选大赛">
<meta name="description" content="“酵你好看”纤女郎魅力天使全国竞选大赛">
<meta charset="utf-8">
<meta name="viewport" content="target-densitydpi=get-target-densitydpi,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,width=device-width, user-scalable=no" />
<meta name="apple-touch-fullscreen" content="no" />
<meta content="telephone=no" name="format-detection" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black" />

<link rel="stylesheet" type="text/css" href="/images/index.css">
 
<script type="text/javascript" language="javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/touchslider.dev.js"></script>
<script type="text/javascript" src="/js/touchScroll.js"></script>
<script type="text/javascript" src="/js/awap.js"></script>
<script type="text/javascript" language="javascript" src="/js/topHeight.js"></script>
<script type="text/javascript" src="/js/weixin.js"></script>


<style>

body{margin:0 auto;max-width:500px;}
.bgHeight{ }
</style>
<script src="/js/jquery.masonry.js"></script>
</head>

<body>


<header class="top box_shadow_1 clearfix">
	<div class="top_btnL fl"><a href="javascript:void(0);" onClick="history.go(-1);">返回</a></div>
    <div class="top_btnR2 fr"><a href="javascript:void(0);" onClick="location.href='match-join-2851-.html'">参赛</a></div>
    <p class="top_title">比赛投票</p>
</header>
<div class="height45"></div>


<article class="explain_match">

  <div class="div_match">

     <div class="bgHeight"></div>
	 
     
       <h3 class="ex_title">{$voteinfo.title}</h3>
       <div class="ex_suji clearfix"><ul><li>访问数217986</li><li>分享6105+</li><li>投票34614</li></ul></div>
	 
          <div class="ex_banner ex_txt4"><img src="up/pic/20141271151312249129m.jpg" /></div>
     
     <ul class="ex_list">
     	<li class="apli1"><a href="javascript:void(0);">比赛时间：{$voteinfo.timeTxt}</a></li>
                  <li class="apli5"><a href="javascript:void(0);">比赛主办：{$voteinfo.host}</a></li>
             
     </ul>
     
     
     <div class="ex_txt ex2_txt" id="info"><P>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp; 广州雅莹商贸有限公司，是一家集开发、销售、代理于一体的电子商务公司。从事女性美容、保养的美丽事业，一直以“专注女性保养，提升女性魅力”为宗旨，建立网上商城及自主品牌。<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;公司自主的产品SISINI希思妮纤扬丽线青梅果蔬发酵粉，与全球优质台湾大型企业大江生医股份有限公司合作，精选天然的优质的原料，秉持为中国女性带来健康与美丽的信念，舍弃一切化学技法与添加物，坚持守护着美丽的真实原味，在产品一上市就已获得消费者们的一致好评。<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;短短不到三个月，纤扬丽线酵素第一批价值800万的产品全部售馨，目前是第二批多于第一批一倍的数量入关，已为全国数万多的人改善肠道问题。<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 为感谢所有朋友们的支持，雅莹公司举办纤女郎大使活动，提倡“纤享瘦&nbsp;轻生活”的理念，适当的做减法，为生活减负，为身体减重，为心灵减压。做个简单、单纯、包容的人。宠爱你自己，给你自己一个展示的机会!</P>
<P><IMG style="width:100%; height:auto;" alt="" src="http://www.17ll.com/edit1/attached/2014127/20141271429433210421.jpg"></P>
<P><IMG style="width:100%; height:auto;" alt="" src="http://www.17ll.com/edit1/attached/2014127/20141271429525218722.jpg"></P>
<P><IMG style="width:100%; height:auto;" alt="" src="http://www.17ll.com/edit1/attached/2014127/2014127143005014926.jpg"></P>
<P><IMG style="width:100%; height:auto;" alt="" src="http://www.17ll.com/edit1/attached/2014127/2014127143020945041.jpg"></P>
<P><IMG style="width:100%; height:auto;" alt="" src="http://www.17ll.com/edit1/attached/2014127/20141271430282692828.jpg"></P>
<P><IMG style="width:100%; height:auto;" alt="" src="http://www.17ll.com/edit1/attached/2014127/2014127143036874179.jpg"></P>
<P>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<BR>【初赛时间】2014-12-8至2015-1-19<BR>【决赛时间】2015-1-21至2015-1-31<BR>【主办单位】广州雅莹商贸有限公司<BR>【合作媒体】湖南卫视《越淘越开心》、东方卫视《时尚汇》、朱卫坤自媒体<BR><BR>【参赛条件】<BR>1、年满16岁以上的女性<BR>2、手持纤扬丽线产品的照片一张<BR>3、关注雅莹微信公众号：雅莹旗舰店<BR>4、转发朋友圈发动朋友投票<BR><BR>【参赛流程】</P>
<P>1、12月8日开始到1月19日共42天为海选时间，首发在百强自媒体第一人朱卫坤的QQ空间，参赛者链接到“亿启酷动”发起初赛，参赛将于大众投票的方式，前10名票最高者进入决赛。<BR>&nbsp;2、进入决赛的10名选手，将于1月21日到30日为期十天在雅莹公众号发起投票，各美女选手拉动身边的好友投票，决出冠亚季军。<BR><BR>【参赛奖项】</P>
<P>1、优秀奖，票数在前100名可获得雅莹公司提供的价值138元的纤扬丽线酵素一罐；<BR>2、进入前10强的选手，获得雅莹公司提供的价值498元的纤扬丽线酵素一套以及体重称一台；<BR>3、季军获得价值2999元华为MATE7手机一部；亚军获得价值5288元iphone6一台；冠军将获得价值6880元，六天六晚的台湾豪华双飞游，并且将在一年内免费获得雅莹公司新品的优先使用权。<BR></P>
<P><IMG style="width:100%; height:auto;" alt="" src="http://www.17ll.com/edit1/attached/2014127/2014127143058962619.jpg"><BR>本次活动所有解释权归雅莹商贸有限公司</P></div>

     <a class="ex_btn" href="javascript:void(0);" onClick="location.href='match-join-2851-.html'">我要参赛（已有145人参赛）</a>
     
     <div class="search search3">
         <form action="javascript:void(0)" method="post" name="form">
     	    <input class="search_text" id="search_text" type="text" placeholder="请输入“参赛者姓名”搜索" maxlength="15" value="">
            <input class="search_btn" type="submit" value="" onClick="match_user_search()">
         </form>
     </div>
     
     <div class="match_search_con" id="match_search_con"></div>
   
     
     <div class="match_page clearfix" id="phsite">
          <ul>
             <a href="javascript:void(0)" onClick="location.href='match-2851--1-1.html#phsite'"><li class="phsite_on"><div class="match_page_on"><div class="match_page_on1"></div></div>票数最多</li></a>
             <a href="javascript:void(0)" onClick="location.href='match-2851--2-1.html#phsite'"><li class="">最新参赛</li></a>
          </ul>
     </div>
     
     <div class="ex_txt ex2_txt none" style=" margin-top:15px;">公告：为了打造健康的投票环境，严禁恶意刷票行为，恶意刷票严重者将直接取消参赛格资。提示：请大家多使用分享功能，感谢你对本次活动的支持！</div>
     
  </div>  
  
  
  <div class="photo2 clearfix" id="pageCon">
       
          <div class="picCon fl">
               <div class="picCon1"><a href="javascript:void(0)" onClick="location.href='match-pic-40465-1-1-0-.html'"><img src="up/pic/m_20141281746973158857.jpg" /></a>
                    <div class="picCon3"><div class="picCon3_1" onClick="location.href='match-pic-40465-1-1-0-.html'">索要TA微信</div></div>
               </div>
               <div class="picCon2" id="div_tpsu_40465" onClick="location.href='match-pic-40465-1-1-0-.html'"><ul><li class="pli1"><span id="tpsu_40465">2919</span><span><img src="images/sbg4.png" /></span></li><li class="pli2">雷晓娜<img src="images/sbg3.png" /></li></ul></div>
          </div>
      
          <div class="picCon fl">
               <div class="picCon1"><a href="javascript:void(0)" onClick="location.href='match-pic-40429-1-1-0-.html'"><img src="up/pic/m_201412814343227021602.jpg" /></a>
                    <div class="picCon3"><div class="picCon3_1" onClick="location.href='match-pic-40429-1-1-0-.html'">索要TA微信</div></div>
               </div>
               <div class="picCon2" id="div_tpsu_40429" onClick="location.href='match-pic-40429-1-1-0-.html'"><ul><li class="pli1"><span id="tpsu_40429">2633</span><span><img src="images/sbg4.png" /></span></li><li class="pli2">张小娟<img src="images/sbg3.png" /></li></ul></div>
          </div>
      
          <div class="picCon fl">
               <div class="picCon1"><a href="javascript:void(0)" onClick="location.href='match-pic-40449-1-1-0-.html'"><img src="up/pic/m_201412815443289053524.jpg" /></a>
                    <div class="picCon3"><div class="picCon3_1" onClick="location.href='match-pic-40449-1-1-0-.html'">索要TA微信</div></div>
               </div>
               <div class="picCon2" id="div_tpsu_40449" onClick="location.href='match-pic-40449-1-1-0-.html'"><ul><li class="pli1"><span id="tpsu_40449">2263</span><span><img src="images/sbg4.png" /></span></li><li class="pli2">谢冬旭<img src="images/sbg3.png" /></li></ul></div>
          </div>
      
          <div class="picCon fl">
               <div class="picCon1"><a href="javascript:void(0)" onClick="location.href='match-pic-40451-1-1-0-.html'"><img src="up/pic/m_20141281602621419191.jpg" /></a>
                    <div class="picCon3"><div class="picCon3_1" onClick="location.href='match-pic-40451-1-1-0-.html'">索要TA微信</div></div>
               </div>
               <div class="picCon2" id="div_tpsu_40451" onClick="location.href='match-pic-40451-1-1-0-.html'"><ul><li class="pli1"><span id="tpsu_40451">2202</span><span><img src="images/sbg4.png" /></span></li><li class="pli2">谢丹<img src="images/sbg3.png" /></li></ul></div>
          </div>
      
          <div class="picCon fl">
               <div class="picCon1"><a href="javascript:void(0)" onClick="location.href='match-pic-40450-1-1-0-.html'"><img src="up/pic/m_201412815492277045721.jpg" /></a>
                    <div class="picCon3"><div class="picCon3_1" onClick="location.href='match-pic-40450-1-1-0-.html'">索要TA微信</div></div>
               </div>
               <div class="picCon2" id="div_tpsu_40450" onClick="location.href='match-pic-40450-1-1-0-.html'"><ul><li class="pli1"><span id="tpsu_40450">1483</span><span><img src="images/sbg4.png" /></span></li><li class="pli2">杨佳<img src="images/sbg3.png" /></li></ul></div>
          </div>
      
          <div class="picCon fl">
               <div class="picCon1"><a href="javascript:void(0)" onClick="location.href='match-pic-40575-1-1-0-.html'"><img src="up/pic/m_201412100405063637071.jpg" /></a>
                    <div class="picCon3"><div class="picCon3_1" onClick="location.href='match-pic-40575-1-1-0-.html'">索要TA微信</div></div>
               </div>
               <div class="picCon2" id="div_tpsu_40575" onClick="location.href='match-pic-40575-1-1-0-.html'"><ul><li class="pli1"><span id="tpsu_40575">1376</span><span><img src="images/sbg4.png" /></span></li><li class="pli2">李若芙<img src="images/sbg3.png" /></li></ul></div>
          </div>
      
          <div class="picCon fl">
               <div class="picCon1"><a href="javascript:void(0)" onClick="location.href='match-pic-40614-1-1-0-.html'"><img src="up/pic/m_201412101459619454577.jpg" /></a>
                    <div class="picCon3"><div class="picCon3_1" onClick="location.href='match-pic-40614-1-1-0-.html'">索要TA微信</div></div>
               </div>
               <div class="picCon2" id="div_tpsu_40614" onClick="location.href='match-pic-40614-1-1-0-.html'"><ul><li class="pli1"><span id="tpsu_40614">1303</span><span><img src="images/sbg4.png" /></span></li><li class="pli2">张鹏鹏<img src="images/sbg3.png" /></li></ul></div>
          </div>
      
          <div class="picCon fl">
               <div class="picCon1"><a href="javascript:void(0)" onClick="location.href='match-pic-40587-1-1-0-.html'"><img src="up/pic/m_20141210825016665835.jpg" /></a>
                    <div class="picCon3"><div class="picCon3_1" onClick="location.href='match-pic-40587-1-1-0-.html'">索要TA微信</div></div>
               </div>
               <div class="picCon2" id="div_tpsu_40587" onClick="location.href='match-pic-40587-1-1-0-.html'"><ul><li class="pli1"><span id="tpsu_40587">1242</span><span><img src="images/sbg4.png" /></span></li><li class="pli2">李梅<img src="images/sbg3.png" /></li></ul></div>
          </div>
      
          <div class="picCon fl">
               <div class="picCon1"><a href="javascript:void(0)" onClick="location.href='match-pic-40714-1-1-0-.html'"><img src="up/pic/m_2014121122431880975949.jpg" /></a>
                    <div class="picCon3"><div class="picCon3_1" onClick="location.href='match-pic-40714-1-1-0-.html'">索要TA微信</div></div>
               </div>
               <div class="picCon2" id="div_tpsu_40714" onClick="location.href='match-pic-40714-1-1-0-.html'"><ul><li class="pli1"><span id="tpsu_40714">1147</span><span><img src="images/sbg4.png" /></span></li><li class="pli2">陈奕琪<img src="images/sbg3.png" /></li></ul></div>
          </div>
      
          <div class="picCon fl">
               <div class="picCon1"><a href="javascript:void(0)" onClick="location.href='match-pic-40453-1-1-0-.html'"><img src="up/pic/m_20141281674522728235.jpg" /></a>
                    <div class="picCon3"><div class="picCon3_1" onClick="location.href='match-pic-40453-1-1-0-.html'">索要TA微信</div></div>
               </div>
               <div class="picCon2" id="div_tpsu_40453" onClick="location.href='match-pic-40453-1-1-0-.html'"><ul><li class="pli1"><span id="tpsu_40453">1141</span><span><img src="images/sbg4.png" /></span></li><li class="pli2">杜世兰<img src="images/sbg3.png" /></li></ul></div>
          </div>
      
          <div class="picCon fl">
               <div class="picCon1"><a href="javascript:void(0)" onClick="location.href='match-pic-40569-1-1-0-.html'"><img src="up/pic/m_201412923305435736723.jpg" /></a>
                    <div class="picCon3"><div class="picCon3_1" onClick="location.href='match-pic-40569-1-1-0-.html'">索要TA微信</div></div>
               </div>
               <div class="picCon2" id="div_tpsu_40569" onClick="location.href='match-pic-40569-1-1-0-.html'"><ul><li class="pli1"><span id="tpsu_40569">1011</span><span><img src="images/sbg4.png" /></span></li><li class="pli2">高荷洁<img src="images/sbg3.png" /></li></ul></div>
          </div>
      
          <div class="picCon fl">
               <div class="picCon1"><a href="javascript:void(0)" onClick="location.href='match-pic-40704-1-1-0-.html'"><img src="up/pic/m_2014121120345445841861.jpg" /></a>
                    <div class="picCon3"><div class="picCon3_1" onClick="location.href='match-pic-40704-1-1-0-.html'">索要TA微信</div></div>
               </div>
               <div class="picCon2" id="div_tpsu_40704" onClick="location.href='match-pic-40704-1-1-0-.html'"><ul><li class="pli1"><span id="tpsu_40704">997</span><span><img src="images/sbg4.png" /></span></li><li class="pli2">赵薇薇<img src="images/sbg3.png" /></li></ul></div>
          </div>
      
          <div class="picCon fl">
               <div class="picCon1"><a href="javascript:void(0)" onClick="location.href='match-pic-41143-1-1-0-.html'"><img src="up/pic/m_20141215233524881260.jpg" /></a>
                    <div class="picCon3"><div class="picCon3_1" onClick="location.href='match-pic-41143-1-1-0-.html'">索要TA微信</div></div>
               </div>
               <div class="picCon2" id="div_tpsu_41143" onClick="location.href='match-pic-41143-1-1-0-.html'"><ul><li class="pli1"><span id="tpsu_41143">820</span><span><img src="images/sbg4.png" /></span></li><li class="pli2">朱映玲<img src="images/sbg3.png" /></li></ul></div>
          </div>
      
          <div class="picCon fl">
               <div class="picCon1"><a href="javascript:void(0)" onClick="location.href='match-pic-40430-1-1-0-.html'"><img src="up/pic/m_20141281439364681413.jpg" /></a>
                    <div class="picCon3"><div class="picCon3_1" onClick="location.href='match-pic-40430-1-1-0-.html'">索要TA微信</div></div>
               </div>
               <div class="picCon2" id="div_tpsu_40430" onClick="location.href='match-pic-40430-1-1-0-.html'"><ul><li class="pli1"><span id="tpsu_40430">815</span><span><img src="images/sbg4.png" /></span></li><li class="pli2">黄美婷<img src="images/sbg3.png" /></li></ul></div>
          </div>
      
          <div class="picCon fl">
               <div class="picCon1"><a href="javascript:void(0)" onClick="location.href='match-pic-40390-1-1-0-.html'"><img src="up/pic/m_201412812134753824389.jpg" /></a>
                    <div class="picCon3"><div class="picCon3_1" onClick="location.href='match-pic-40390-1-1-0-.html'">索要TA微信</div></div>
               </div>
               <div class="picCon2" id="div_tpsu_40390" onClick="location.href='match-pic-40390-1-1-0-.html'"><ul><li class="pli1"><span id="tpsu_40390">742</span><span><img src="images/sbg4.png" /></span></li><li class="pli2">刘萍<img src="images/sbg3.png" /></li></ul></div>
          </div>
      
          <div class="picCon fl">
               <div class="picCon1"><a href="javascript:void(0)" onClick="location.href='match-pic-40391-1-1-0-.html'"><img src="up/pic/m_201412812261279516104.jpg" /></a>
                    <div class="picCon3"><div class="picCon3_1" onClick="location.href='match-pic-40391-1-1-0-.html'">索要TA微信</div></div>
               </div>
               <div class="picCon2" id="div_tpsu_40391" onClick="location.href='match-pic-40391-1-1-0-.html'"><ul><li class="pli1"><span id="tpsu_40391">741</span><span><img src="images/sbg4.png" /></span></li><li class="pli2">郭小忆<img src="images/sbg3.png" /></li></ul></div>
          </div>
      
          <div class="picCon fl">
               <div class="picCon1"><a href="javascript:void(0)" onClick="location.href='match-pic-40724-1-1-0-.html'"><img src="up/pic/m_20141212352042801369.jpg" /></a>
                    <div class="picCon3"><div class="picCon3_1" onClick="location.href='match-pic-40724-1-1-0-.html'">索要TA微信</div></div>
               </div>
               <div class="picCon2" id="div_tpsu_40724" onClick="location.href='match-pic-40724-1-1-0-.html'"><ul><li class="pli1"><span id="tpsu_40724">729</span><span><img src="images/sbg4.png" /></span></li><li class="pli2">熊雅芳<img src="images/sbg3.png" /></li></ul></div>
          </div>
      
          <div class="picCon fl">
               <div class="picCon1"><a href="javascript:void(0)" onClick="location.href='match-pic-40419-1-1-0-.html'"><img src="up/pic/m_201412813472269918564.jpg" /></a>
                    <div class="picCon3"><div class="picCon3_1" onClick="location.href='match-pic-40419-1-1-0-.html'">索要TA微信</div></div>
               </div>
               <div class="picCon2" id="div_tpsu_40419" onClick="location.href='match-pic-40419-1-1-0-.html'"><ul><li class="pli1"><span id="tpsu_40419">693</span><span><img src="images/sbg4.png" /></span></li><li class="pli2">麦著芬<img src="images/sbg3.png" /></li></ul></div>
          </div>
      
      <script>
	     PicListAutoWidth();PicAutoSet();var t=setInterval("PicAutoSet()",600); 
      </script>
      
  </div>
  
  
      
  <div class="div_match">
  
     
     <div class="match_page clearfix box_shadow_2">
          <ul>
             
			     <li class="pli3">上一页</li>
			 
                 <a href="javascript:void(0)" onClick="location.href='match-2851--1-2.html#phsite'"><li>下一页</li></a>
			 
          </ul>
     </div>
     
     
     <div class="btn_list">
        <a class="btn_mobile1 apply" href="javascript:void(0);" onClick="location.href='match-join-2851-.html'">我要参赛（已有145人参赛）</a>
        <a class="btn_general btn3" onClick="apply2();" href="javascript:void(0);">查看已参赛人员信息</a>
        
             <a class="btn4 btn_general" href="javascript:void(0);" onClick="location.href='apply-create.html';">我也要发起活动</a>
             
             <div class="applyMore">
                  <div class="applyMore2">
                       <div class="applyMore2_1 clearfix" onClick="location.href='../apply/';"><ul><li class="fl">亿启酷动推荐</li><li class="fr">更多好玩互动>></li></ul></div>
                       
                          <a href="javascript:void(0);" onClick="location.href='apply-3014.html';"><div class="applyMore2_2 clearfix"><ul><li><img src="up/pic/2014121811441782211921j.png" /></li><li>抢先精彩 看《美人计-画》预告 竞猜结局 得IPHONE6大奖 参与后70集演出</li></ul></div></a>
                       
                          <a href="javascript:void(0);" onClick="location.href='match-2890.html';"><div class="applyMore2_2 clearfix"><ul><li><img src="up/pic/20141291951026137914j.jpg" /></li><li>黛梦百丽万元大奖寻找“素颜女神”</li></ul></div></a>
                       
                          <a href="javascript:void(0);" onClick="location.href='match-2851.html';"><div class="applyMore2_2 clearfix"><ul><li><img src="up/pic/20141271151312249129j.jpg" /></li><li>“酵你好看”纤女郎魅力天使全国竞选大赛</li></ul></div></a>
                       
                          <a href="javascript:void(0);" onClick="location.href='match-2760.html';"><div class="applyMore2_2 clearfix"><ul><li><img src="up/pic/2014121622285130006193j.jpg" /></li><li>秀出我的明星范儿《LSY-夜半歌声》戴上墨镜，我们都来PK大明星！</li></ul></div></a>
                       
                          <a href="javascript:void(0);" onClick="location.href='match-2379.html';"><div class="applyMore2_2 clearfix"><ul><li><img src="up/pic/20141291354749893599j.jpg" /></li><li>中涵国际全国民间征集广告代言人，寻找最自信的你！</li></ul></div></a>
                       
                       <a href="javascript:void(0);" onClick="location.href='http://www.17dct.net/apply/other/weixin.html';"><div class="applyMore2_2 clearfix"><ul><li><img src="images/hot1.jpg" /></li><li>2014最强微信HOT排行榜</li></ul></div></a>
                  </div>
             </div>
             
     </div>

  </div>    
     
</article>

<div class="J_Shade"></div>


<div class="apply_box apply_box1">
	<p>输入报名信息</p>
    <form action="javascript:void(0)" method="post">
    <input type="text" id="username" name="username" placeholder="真实姓名（必填）" maxlength="4" value="">
    <input type="text" id="phone" name="phone" placeholder="手机，非常重要，唯一身份析别（必填）" maxlength="11" value="">
    <input type="text" id="weixin" name="weixin" placeholder="微信，唯一互联网联系方式（必填）" maxlength="30" value="">
    <input type="text" id="beizhu" name="beizhu" placeholder="备注，附加说明" maxlength="25">
    <div class="apply_boxBtn clearfix">
        <ul>
           <li class="sub" id="BtnOn1"><input id="aid" name="aid" type="hidden" value="2851"/><input class="BtnOn1" id="BtnOn1" type="submit" value="提交" onclick="apply_save();"></li>
           <li class="sub2" id="BtnOn2">提交</li>
           <li class="reset fr" id="BtnOn3">取消</li>
        </ul>
    </div>
    </form>
</div>
 

<div class="apply_box apply_box2">
	<p>请输入管理密码</p>
    <input id="pwd" name="pwd" type="password" required placeholder="输入管理密码" maxlength="16">
    <div class="apply_boxBtn clearfix">
    	<ul>
           <li class="sub" id="BtnOn4"><input class="BtnOn1" id="BtnOn1" type="submit" value="提交" onclick="apply_user_check();"></li>
           <li class="sub2" id="BtnOn5">提交</li>
           <li class="reset fr" id="BtnOn6">取消</li>
        </ul>
    </div>
</div>

<div class="net_re" id="net_re"></div>


<div class="ex_copy"><a href="javascript:void(0);" onClick="location.href='http://www.17dct.net'">&copy;亿启酷动 17LL.COM（梦想成真技术支持）</a><br>服务咨询 微信（<span>yiqi168001</span>）<br>服务咨询热线：400-1688-626<br>投资/招商微信：18127818899</div>

<div id="foot">

<div class="height45"></div>

<div class="footer2 gradient_7 box_shadow_1">
	    <a href="javascript:void(0);" onClick="history.go(-1);"><div class="footer2_left fl">返回</div></a>
     <div class="fr">
        <a href="javascript:void(0);" onClick="location.href='match-join-2851-.html'"><div class="footer2_right fl"><div class="footer2_right_2">参赛</div></div></a><a href="javascript:void(0);" onClick="location.href='apply-create.html';"><div class="footer2_right fl"><div class="footer2_right_2">发起</div></div></a><a href="javascript:void(0);" onClick="window.location.reload();"><div class="footer2_right fl"><div class="footer2_right_2">刷新</div></div></a>
     </div>
</div>

</div>


<script type="text/javascript" src="../js/WeiXinOptionMenu.js"></script>


   <div class="qcode">
        <div class="qcode1" id="qcode1"></div>
        <div class="qcode2">扫一扫，进入手机版</div>
   </div>
   <script>qcodeSite('match')</script>
<div class="none">
<script src='http://w.cnzz.com/q_stat.php?id=1000517246&l=3' language='JavaScript'></script>
</div><div class="WeiXinShareShow" onclick="shareWebClose()"></div>
<div class="WeiXinShareShow2" onclick="shareWebClose()"></div>
 

<div class="J_Shade"></div>
<div class="J_Shade_tip">
    <img class="J_Shade_tip_img" src="images/guide1.png" />
    <div class="vote_tip_operate">
        <div class="yl"><a href="javascript:void(0);">预览</a></div>
        <div class="zf"><a href="javascript:void(0);" onClick="location.href='match-add.html';">再发一条</a></div>
        <div class="fq"><a href="javascript:void(0);">放弃</a></div>
    </div>
</div>



</body>
</html>

