<h2 class="sub-header">菜品列表</h2>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>菜名</th>
            <th>制作难度</th>
            <th>添加日期</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
        <foreach name="foodlist" item="food">
          <tr>
            <td class="col-sm-2">{$food.food_name}</td>
            <td class="col-sm-2"><if condition="$food['food_difficulty'] eq '1'">入门级</if><if condition="$food['food_difficulty'] eq '3'">中级</if><if condition="$food['food_difficulty'] eq '4'">高级</if><if condition="$food['food_difficulty'] eq '5'">大师级</if><if condition="$food['food_difficulty'] eq '2'">初级</if></td>
            <td class="col-sm-2">{$food.food_adddate}</td>
            <td class="col-sm-2">
                <a href="__MODULE__/modfood/{$food.food_id}">编辑</a> 
                <a href="javascript:;" id="delfood_{$food.food_id}">删除</a>
            </td>
          </tr>
        </foreach>
        </tbody>
      </table>
      {$page}
    </div>
<script type="text/javascript">
$(function () {
    $("a[id^='delfood_']").click(function () {
        if (confirm("确认要删除吗？")) {
            var id = this.id.split("_");
            location.href = "__MODULE__/delfood/"+id[1];
        }
    });
});
</script>